footer {
  nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .left,
    .right {
      align-items: center;
      background-color: #e5e5e5;
      display: flex;
      justify-content: center;

      a {
        color: #333333;
        display: flex;
        font-weight: bold;
      }
    }

    .left img {
      margin-right: 1em;
    }
    .right img {
      margin-left: 1em;
    }

    a {
      border: none;
      color: #666666;
      display: block;
      font-family: Lato;
      padding: 1.3em;
      width: 100%;
    }
  }
}

/**
* IPAD PRO
*/
@media screen and (min-width: 1024px) {
  footer {
    align-items: flex-end;
    background-image: url(/assets/images/footer-foret.png);
    background-position: bottom;
    display: flex;
    min-height: 152px;

    nav {
      flex-direction: row;

      .center {
        flex: auto;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      }
    }
  }
}
