#qcm {
  .confirmation {
    color: #706062;
    font-family: "ACaslonPro";
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.75em;
    text-align: center;

    p {
      margin-bottom: 2em;
    }
  }
}
